build-aux/flatpak/io.github.zonaro.Jolven.json
/subprojects/blueprint-compiler
/build-aux/macos/build
/build-aux/macos/dist
/.flatpak
/.flatpak-builder
/.vscode
.DS_Store
.prettierignore
__pycache__/
*.py[cod]
/.omo/
